.backButton {
  padding: 12px;
}

.backButton a {
  color: grey;
  text-decoration: none;
}

.backButton a:hover {
    color: #2b6777;
    text-decoration: none;
    cursor: pointer;
}

.backButton a:focus {
    outline: none;   
}